:root {
  font-family: Roboto, sans-serif;
}

*, html {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

a:hover {
  opacity: 0.7;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans Heavy Caps"), local("UniSansHeavyCaps"), url("../fonts/unisansheavycaps.woff2") format("woff2"), url("../fonts/unisansheavycaps.woff") format("woff"), url("../fonts/unisansheavycaps.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/fonts/icomoon.eot?f9ltdx");
  src: url("../fonts/icons/fonts/icomoon.eot?f9ltdx#iefix") format("embedded-opentype"), url("../fonts/icons/fonts/icomoon.ttf?f9ltdx") format("truetype"), url("../fonts/icons/fonts/icomoon.woff?f9ltdx") format("woff"), url("../fonts/icons/fonts/icomoon.svg?f9ltdx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-half_rotated_rectangle:before {
  content: "\e908";
  color: #2f6dce;
}

.icon-ic24-map:before {
  content: "\e903";
  color: #6f6f6f;
}

.icon-check-circle:before {
  content: "\e909";
  color: #2f6dce;
}

.icon-checked:before {
  content: "\e900";
  color: #2f6dce;
}

.icon-ic24-arrow-left:before {
  content: "\e901";
}

.icon-ic24-arrow-right:before {
  content: "\e902";
}

.icon-shield:before {
  content: "\e904";
  color: #2f6dce;
}

.icon-tel:before {
  content: "\e905";
  color: #2f6dce;
}

.icon-warning:before {
  content: "\e906";
  color: #e05c5c;
}

.icon-what_app:before {
  content: "\e907";
  color: #25cf43;
}

.icon:before {
  color: inherit;
}

.wrapper {
  max-width: 1290px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 0 48px;
}

.main {
  padding-top: 30px;
}
.main__wrapper {
  max-width: 1358px;
}
.main .header {
  margin-bottom: 12px;
}
.main .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .header__menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.main .header__menu li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
.main .header__menu li:not(:last-child) {
  margin-right: 32px;
  padding-right: 32px;
  border-right: 1px solid #999999;
}
.main .header__menu li a {
  color: #000000;
}

.mobile-menu-toggle {
  display: none;
}

.upper-bar {
  display: flex;
  margin-bottom: 38px;
}
.upper-bar__column {
  display: flex;
  align-items: center;
}
.upper-bar__column:nth-child(2) {
  margin-left: auto;
}
.upper-bar__home-link h1 {
  font-size: 18px;
  font-weight: inherit;
  line-height: 24px;
  color: #2D2D2D;
}
.upper-bar__link {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #6F6F6F;
}
.upper-bar__link:not(:last-child) {
  margin-right: 47px;
}
.upper-bar__link-icon {
  margin-right: 8px;
}
.upper-bar__tel-link {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: #484848;
}

.whats-app-link {
  padding: 14px 27px;
  border: 1px solid #25CF43;
  border-radius: 84px;
  color: #25CF43;
  transition: color, background 0.3s ease-in-out;
}
.whats-app-link:hover {
  color: #FFFFFF;
  background: #25CF43;
  opacity: 1;
}
.whats-app-link__icon:before {
  color: inherit;
}

.banner {
  display: flex;
  min-height: 720px;
  height: 100%;
}
.banner__column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__column:nth-child(2) {
  background-image: url("../img/window.png");
  background-repeat: no-repeat;
}
.banner__description {
  font-family: "Uni Sans", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 84px;
  line-height: 100%;
  color: #2F6DCE;
}
.banner__description span {
  display: block;
  max-width: 575px;
  width: 100%;
  margin-top: 20px;
  font-size: 32px;
  line-height: 40px;
  color: #2D2D2D;
}
.banner__text {
  max-width: 455px;
  width: 100%;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #484848;
}
.banner__btn-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 360px;
  width: 100%;
  text-align: center;
}
.banner__btn-wrapper:before {
  position: absolute;
  content: "";
  top: -66%;
  right: -106%;
  width: 100%;
  height: 100%;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
}
.banner__btn {
  margin-bottom: 18px;
  color: #2F6DCE;
  border: 2px solid #2F6DCE;
  box-sizing: border-box;
  box-shadow: 0px 22px 44px -12px rgba(0, 90, 233, 0.35);
  border-radius: 39px;
}
.banner__btn-description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 100%;
  color: #484848;
}
.banner__addons-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.banner__addon {
  position: relative;
  max-width: 450px;
  width: 100%;
  padding: 30px 25px 30px 52px;
  background: rgba(255, 255, 255, 0.67);
  box-shadow: 0 22px 44px rgba(0, 90, 233, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 6px;
  display: flex;
  align-items: center;
  color: #000000;
  transition: background, color 0.3s ease-in-out;
}
.banner__addon:before {
  position: absolute;
  content: "";
  left: -14.11px;
  width: 22.22px;
  height: 22.22px;
  background: #2F6DCE;
  border: 4px solid rgba(255, 255, 255, 0.76);
  box-shadow: 0px 1px 8px rgba(0, 90, 233, 0.33), inset 0px 0px 9px rgba(255, 255, 255, 0.76);
  border-radius: 5px;
  transform: rotate(-45deg);
  z-index: 10;
  transition: background, border-radius 0.3s ease-in-out;
}
.banner__addon:hover {
  background: #2F6DCE;
  color: #FFFFFF;
}
.banner__addon:hover:before {
  background: #FF3939;
  box-shadow: 0px 1px 8px rgba(207, 233, 0, 0.33), inset 0px 0px 9px rgba(255, 255, 255, 0.76);
}
.banner__addon:not(:last-child) {
  margin-bottom: 9px;
}
.banner__addon-icon {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  font-size: 70px;
  width: 35px;
  overflow: hidden;
  color: #2F6DCE;
}
.banner__addon-content {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 100%;
  color: inherit;
}

.btn {
  width: 100%;
  padding: 24px 43px;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 100%;
  transition: box-shadow 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: none;
}

.advantages {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media screen and (max-width: 736px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.advantages__title {
  position: relative;
  z-index: 30;
  max-width: 900px;
  width: 90%;
  padding: 8px 30px;
  background-color: #2F6DCE;
  border-radius: 6px;
  margin-bottom: 56px;
  font-family: "Uni Sans", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
}
.advantages__row {
  display: flex;
  justify-content: space-between;
}
.advantages__row:not(:last-child) {
  margin-bottom: 77px;
}
.advantages__block {
  max-width: 882px;
  width: 100%;
}
.advantages__block-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: #2D2D2D;
  margin-bottom: 18px;
}
.advantages__block-list-item {
  font-size: 18px;
  line-height: 24px;
  color: #2D2D2D;
}
.advantages__block-list-style-checkbox li::marker {
  content: "\e900";
}
.advantages__block-list-style-blue-disc li::marker {
  content: "\e909";
}
.advantages__block-list-style-points {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 34px;
}
.advantages__block-small {
  max-width: 330px;
  padding: 18px 28px;
  border-radius: 6px;
}
.advantages__block-small ul {
  margin-left: 18px;
}
.advantages__block-small ul li {
  padding-left: 6px;
}
.advantages__block-small ul li::marker {
  font-family: "icomoon";
  font-size: 12px;
  color: #2F6DCE;
}
.advantages__block-small:not(:last-child) {
  margin-bottom: 18px;
}
.advantages__block-small-title {
  text-align: center;
  margin-bottom: 20px;
}
.advantages__block-small .advantages__block-list-item {
  font-size: 16px;
}
.advantages__block-colored {
  background-color: #E8F6FF;
}
.advantages__block-outline {
  outline: 6px solid #2F6DCE;
  outline-offset: -6px;
}
.advantages__block-warning {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  color: #E05C5C;
  margin-bottom: 39px;
}
.advantages__block-warning-icon {
  padding-right: 6px;
  font-size: 18px;
}
.advantages__btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.advantages__btn {
  max-width: 282px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #005AE9;
  box-shadow: 0px 22px 44px -12px #005AE9;
  border-radius: 71px;
  color: #FFFFFF;
  margin-bottom: 18px;
}
.advantages__btn-description {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}
.advantages__slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #F9F9F9;
  border-radius: 6px;
}
.advantages__slider-title {
  font-family: "Uni Sans", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  color: #2F6DCE;
  margin-bottom: 33px;
}
.advantages__slider-container {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}
.swiper-picture-slides {
  max-width: 1042px;
  width: 100%;
}
.swiper-picture-slide {
  display: flex;
  max-width: 842px;
  width: 100%;
  min-height: 176px;
  margin-bottom: 28px;
  border-radius: 6px;
  box-shadow: 0px 13px 21px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  font-family: "Uni Sans", sans-serif;
  font-weight: 900;
  color: #2D2D2D;
  font-size: 32px;
}
.swiper-picture-slide__discount {
  flex: 0 0 69px;
  background: #FF3939;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  line-height: 48px;
}
.swiper-picture-slide__content {
  width: 100%;
  padding: 11px 48px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: #FFFFFF;
}
.swiper-picture-slide__picture {
  margin-right: 42px;
}
.swiper-picture-slide__description {
  line-height: 40px;
}
.swiper-picture-slide__description-highlighted {
  color: #2F6DCE;
}
.swiper-picture-slide__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 171px;
  background: #2F6DCE;
  padding: 58px 19px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 100%;
}
.swiper-picture-slide__price-before {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}
.swiper-picture-slide__price-after {
  font-size: 42px;
}
.swiper-picture-slide__price-after-xl {
  display: flex;
  font-size: 68px;
}
.swiper-picture-slide__price-after-currency {
  font-size: 24px;
}
.swiper-picture-slide__price-after-currency-xl {
  font-size: 48px;
}
.swiper-button-prev, .swiper-button-next {
  bottom: 50%;
  top: auto;
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-family: "icomoon" !important;
  font-size: 24px;
  color: #2D2D2D;
}
.swiper-button-prev:after {
  content: "\e901";
}
.swiper-button-next:after {
  content: "\e902";
}
.swiper-thumbnail-slides {
  max-width: 384px;
  width: 100%;
  padding-bottom: 54px;
  padding-left: 20px;
  padding-right: 20px;
}
.swiper-thumbnail-slides_wide {
  max-width: 568px;
}
.swiper-thumbnail-slides .swiper-wrapper {
  justify-content: center;
}
.swiper-thumbnail-slide {
  width: 68px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  background: #FF3939;
  box-shadow: 0px 22px 44px -12px rgba(255, 57, 57, 0.69);
  border-radius: 6px;
  cursor: pointer;
  color: #FFFFFF;
  transition: background, box-shadow 0.3s ease-in-out;
}
.swiper-thumbnail-slide__property {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.swiper-thumbnail-slide__property-text {
  font-size: 10px;
}
.swiper-slide-thumb-active .swiper-thumbnail-slide {
  border: 1px solid #2F6DCE;
  background: transparent;
  color: #2F6DCE;
  box-shadow: none;
}

.winter-sale {
  padding-top: 0;
}

.trapeze:before {
  width: 28px;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: auto;
  right: auto;
  background-color: #2F6DCE;
  border-radius: 6px;
}
.trapeze_curved-right {
  text-align: left;
  margin-right: auto;
}
.trapeze_curved-right:before {
  right: -14px;
  transform: skewX(-10deg);
}
@media screen and (max-width: 736px) {
  .trapeze_curved-right:before {
    width: 26px;
    right: -7px;
  }
}
.trapeze_curved-left {
  text-align: right;
  margin-left: auto;
}
.trapeze_curved-left:before {
  left: -14px;
  transform: skewX(10deg);
}
@media screen and (max-width: 736px) {
  .trapeze_curved-left:before {
    width: 26px;
    left: -7px;
  }
}
.trapeze_transparent_background {
  background: transparent;
  color: #2F6DCE;
}
.trapeze_outlined {
  border: 2px solid #2F6DCE;
  border-left: none;
  border-radius: 0 6px 6px 0;
}
.trapeze_outlined:before {
  top: -2px;
  border: 2px solid #2F6DCE;
  border-right: none;
  border-radius: 6px 0 0 6px;
  background: transparent;
}

.advantages_theme_colored {
  background-color: #E8F6FF;
}
.advantages_theme_colored .advantages__block-colored {
  outline: 2px solid #FFFFFF;
  outline-offset: -2px;
}

.windows-regulation .advantages__row {
  flex-direction: row-reverse;
}

.air-box {
  position: relative;
  z-index: 20;
}
.air-box .advantages__block {
  max-width: 100%;
}

.present__row {
  display: flex;
  justify-content: space-between;
}
.present__row-content-gallery {
  margin-bottom: 81px;
}
.present__row-content-boxes {
  margin-bottom: 56px;
}
.present__row-content-boxes .present__column {
  width: 100%;
}
.present__row-content-additionally-info .present__column {
  width: 100%;
}
.present__block {
  max-width: 630px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 15px;
}
.present__block-picture {
  width: 630px;
  max-height: 293px;
  border-radius: 6px;
  object-position: center;
  object-fit: cover;
}
.present__block-picture-mobile-view {
  display: none;
}
.present__block-content {
  font-size: 22px;
  line-height: 28px;
  color: #2D2D2D;
  margin-bottom: 24px;
}
.present__block-content-highlighted {
  font-weight: 900;
}
.present__block-list-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 100%;
  color: #2D2D2D;
}
.present__block-list-item:not(:last-child) {
  margin-bottom: 22px;
}
.present__block-list-item-icon {
  margin-right: 13px;
  font-size: 27px;
}
.present__block-list-item-icon-shield {
  color: #2F6DCE;
}
.present__block-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 38px;
}
.present__boxes-wrapper {
  display: flex;
  justify-content: space-between;
}
.present__box {
  min-height: 258px;
  height: 100%;
  clip-path: polygon(50% 8%, 56% 0, 100% 0, 100% 100%, 0 100%, 0 0, 44% 0);
  padding: 32px 21px 20px;
  background: #FFFFFF;
  border-radius: 6px;
  text-align: center;
  margin-top: -3px;
}
.present__box-container {
  max-width: 386px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.present__box-shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  top: 20px;
  width: 100%;
  height: calc(100% - 20px);
  border-radius: 6px;
  box-shadow: 0px 28px 32px rgba(21, 103, 233, 0.19);
  transition: box-shadow 0.3s ease-in-out;
}
.present__box-shadow:hover {
  box-shadow: 0px 8px 0 rgba(21, 103, 233, 0.19);
}
.present__box-crystal {
  width: 23px;
  height: 23px;
  background: #2F6DCE;
  box-shadow: 0px 1px 8px rgba(0, 90, 233, 0.33), inset 0px 0px 9px rgba(255, 255, 255, 0.76);
  border-radius: 5px;
  transform: rotate(-45deg);
}
.present__box-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 22px;
}
.present__box-title-addition {
  display: block;
  font-size: 9px;
  line-height: 14px;
}
.present__box-content {
  font-size: 16px;
  line-height: 20px;
  color: #6F6F6F;
  margin-bottom: 16px;
}
.present__box-price {
  font-size: 26px;
  line-height: 100%;
  color: #2F6DCE;
  font-weight: 700;
}
.present__box-price-description {
  font-size: 14px;
  color: #6F6F6F;
}
.present__additionally-blocks-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px dashed #1567E9;
  border-radius: 6px;
}
.present__additionally-block {
  padding: 23px 32px;
}
.present__additionally-block-title {
  max-width: 338px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #2F6DCE;
}
.present__additionally-block-list {
  max-width: 338px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #484848;
}
.present__additionally-block-img {
  max-width: 311px;
  width: 100%;
  max-height: 170px;
  align-self: flex-end;
  padding-top: 30px;
  object-fit: cover;
  object-position: top;
}
.present__additionally-block-content {
  max-width: 501px;
  width: 100%;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  color: #484848;
}

.highlighted {
  font-weight: 700;
}

.positioned-block {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cta {
  background: rgba(21, 103, 233, 0.24);
}
.cta__wrapper {
  padding-left: 112px;
}
.cta__row {
  display: flex;
}
.cta__column {
  flex: 0 0 417px;
}
.cta__column-hero {
  flex: 0 0 800px;
  display: flex;
}
.cta__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 80px;
  padding-bottom: 80px;
}
.cta__btn {
  max-width: 377px;
}
.cta__btn-wrapper {
  position: relative;
}
.cta__btn-wrapper:before {
  position: absolute;
  top: -80%;
  right: -20%;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/vector_rounded_line.png");
  background-repeat: no-repeat;
  background-position: right;
}
.cta__title {
  font-family: "Uni Sans", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  color: #2D2D2D;
  margin-bottom: 15px;
}
.cta__content {
  font-size: 18px;
  line-height: 24px;
  color: #484848;
  margin-bottom: 57px;
}
.cta__hero-wrapper {
  width: 100%;
  position: relative;
  top: 10px;
}
.cta__hero-rectangle {
  width: 440px;
  height: 440px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 57px;
  transform: rotate(-45deg);
}
.cta__hero-rectangle-outline {
  z-index: 10;
  width: 634px;
  height: 634px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0px 0px 193px rgba(255, 255, 255, 0.19);
  border-radius: 57px;
  transform: rotate(-45deg);
}
.cta__hero-rectangle-inside {
  width: 380px;
  height: 380px;
  background: #2F6DCE;
  border-radius: 47px;
  transform: rotate(-45deg);
}
.cta__hero-man {
  width: 460px;
  height: 660px;
  z-index: 30;
  top: -76px;
  background-image: url("../img/man.png");
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 90px;
}
.portfolio__row {
  margin-top: 94px;
}
.portfolio__slider-wrapper {
  flex-direction: row !important;
}
.portfolio__slider-button {
  width: 38px;
  height: 38px;
  background: #1567E9;
  border-radius: 5px;
  bottom: 0;
}
.portfolio__slider-button:after {
  color: #FFFFFF;
}
.portfolio__slider-button-prev {
  left: 449px;
}
.portfolio__slider-button-next {
  right: 449px;
}
.portfolio__slider-pagination {
  position: static;
  margin-top: 64px;
  margin-bottom: 6px;
}
.portfolio__slider-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  box-sizing: content-box;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #EBECF0;
  border-radius: 4px;
  margin: 0 10px !important;
}
.portfolio__slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 1px solid #2F6DCE;
  background: transparent;
  border-radius: 4px;
}
.portfolio__slide {
  justify-content: flex-start;
  margin-bottom: 30px;
}
.portfolio__slide-thumb {
  display: flex;
  flex-direction: column;
}
.portfolio__slide-thumb-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 6px 6px 0 0;
}
.portfolio__slide-thumb-picture-container {
  position: relative;
  width: 410px;
  height: 260px;
  z-index: 30;
}
.portfolio__slide-thumb-picture-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 38, 99, 0) 61.52%, rgba(21, 103, 233, 0.5) 100%);
}
.portfolio__slide-thumb-description {
  display: flex;
  background: #E8F6FF;
  border-radius: 0 0 6px 6px;
  padding: 22px 82px 38px 20px;
  max-width: 410px;
  width: 100%;
  min-height: 90px;
  font-size: 16px;
  line-height: 100%;
  color: #6F6F6F;
}

@media screen and (max-width: 1088px) {
  .wrapper {
    max-width: 672px;
  }

  section {
    padding: 0;
  }

  .upper-bar {
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
  }
  .upper-bar__column:nth-child(2) {
    display: none;
  }

  .main .header {
    margin-bottom: 48px;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 160px 20px 50px;
    background: #2F6DCE;
    min-height: 300px;
    transition: transform 1s ease-in-out;
  }
  .menu.hide-mobile-menu {
    transform: translateX(-100%);
  }
  .menu.show-mobile-menu {
    transform: translateX(0);
  }
  .menu__item {
    display: flex;
    justify-content: center;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .menu__link {
    font-size: 16px;
    line-height: 100%;
    color: #F3F3F3;
  }
  .menu .upper-bar__column {
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top: 15px;
    margin-bottom: 52px;
    border-top: 2px solid #E8F6FF;
  }
  .menu .upper-bar__column .whats-app-link {
    display: none;
  }
  .menu .upper-bar__link {
    align-items: flex-start;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
    margin-right: 0;
  }
  .menu .upper-bar__link:last-child {
    margin-right: 27px;
  }
  .menu .upper-bar__link-icon {
    color: #FFFFFF;
    margin-right: 5px;
  }

  .banner {
    flex-direction: column;
    text-align: center;
  }
  .banner__column {
    width: 100%;
  }
  .banner__column:nth-child(2) {
    background-image: none;
  }
  .banner__description {
    font-size: 34px;
    line-height: 100%;
    margin-bottom: 12px;
  }
  .banner__description span {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
  }
  .banner__text {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 48px auto;
  }
  .banner__btn-wrapper {
    margin: 0 auto 32px auto;
  }
  .banner__btn-wrapper:before {
    top: -70%;
    right: -10%;
    width: 70px;
    transform: scale(0.6) rotate(-30deg);
  }
  .banner__btn {
    font-size: 16px;
  }
  .banner__addons-wrapper {
    padding-left: 0;
    align-items: center;
  }

  .site-logo img {
    width: 165px;
  }

  .mobile-menu-toggle {
    display: flex;
    position: relative;
    z-index: 30;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 35px;
    height: 35px;
    background: #2F6DCE;
    border-radius: 5px;
    padding: 8px 5px 8px 6px;
  }
  .mobile-menu-toggle .burger-line {
    display: block;
    width: 24px;
    height: 3px;
    background: #FFFFFF;
    border-radius: 9px;
    transition: transform 1s ease-in-out;
  }
  .mobile-menu-toggle .burger-line:nth-child(2) {
    width: 17px;
    border-radius: 12px;
    opacity: 1;
  }
  .mobile-menu-toggle-close {
    justify-content: center;
    align-items: center;
  }
  .mobile-menu-toggle-close .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(1px, 2px);
  }
  .mobile-menu-toggle-close .burger-line:nth-child(2) {
    display: none;
    opacity: 0;
  }
  .mobile-menu-toggle-close .burger-line:nth-child(3) {
    transform: rotate(135deg) translate(0px, 1px);
  }

  .btn {
    font-size: 16px;
  }

  .advantages__row {
    flex-direction: column;
  }
  .advantages__column:not(:last-child) {
    margin-bottom: 18px;
  }
  .advantages__block-small {
    max-width: 100%;
  }

  .swiper-picture-slide {
    max-width: 562px;
  }
  .swiper-picture-slide__content {
    flex-wrap: wrap;
  }
  .swiper-picture-slide__price {
    flex: 0 0 auto;
  }
  .swiper-button-prev {
    left: 40px;
  }
  .swiper-button-next {
    right: 40px;
  }

  .advantages_theme_colored .advantages__row {
    flex-direction: column;
  }

  .present__row {
    flex-direction: column;
  }
  .present__row-content-gallery {
    margin-bottom: 40px;
  }
  .present__boxes-wrapper {
    flex-direction: column;
  }
  .present__box-container {
    max-width: 100%;
  }
  .present__box-container:not(:last-child) {
    margin-bottom: 24px;
  }
  .present__additionally-blocks-wrapper {
    flex-direction: column;
  }
  .present__additionally-block:not(:last-child) {
    padding-bottom: 0;
  }
  .present__additionally-block-title {
    max-width: 100%;
  }
  .present__additionally-block-list {
    max-width: 100%;
  }
  .present__additionally-block-img {
    display: none;
  }
  .present__additionally-block-content {
    max-width: 100%;
  }
  .present__block {
    padding-top: 19px;
  }
  .present__block-picture {
    width: 100%;
    display: none;
  }
  .present__block-picture-mobile-view {
    display: block;
  }

  .cta {
    min-height: 768px;
  }
  .cta__wrapper {
    padding-left: 0;
  }
  .cta__row {
    flex-direction: column-reverse;
  }
  .cta__column {
    flex: 0 0 100%;
  }
  .cta__column-hero {
    flex: 0 0 100%;
    display: flex;
    min-height: 490px;
  }
  .cta__block {
    align-items: center;
  }
  .cta__hero-rectangle-outline {
    display: none;
  }
  .cta__btn-wrapper:before {
    top: -54%;
  }

  .portfolio__wrapper {
    max-width: 100%;
  }
  .portfolio__slide {
    justify-content: center;
  }
  .portfolio__slide-thumb-picture-container {
    width: 368px;
  }
  .portfolio__slide-thumb-description {
    width: 368px;
  }
}
@media screen and (max-width: 736px) {
  .wrapper {
    max-width: 320px;
  }

  .upper-bar__column {
    max-width: 282px;
  }

  .menu__item {
    justify-content: flex-end;
    max-width: 282px;
    width: 100%;
  }

  .banner {
    min-height: 100%;
  }
  .banner__column:nth-child(2) {
    display: none;
  }

  .advantages__title {
    padding: 8px 20px;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 22px;
  }
  .advantages__block-list {
    margin-bottom: 16px;
  }
  .advantages__slider-title {
    width: 285px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  .swiper-picture-slides {
    overflow: visible;
  }
  .swiper-picture-slide {
    max-width: 310px;
    display: grid;
    grid-template-areas: "discount content content content" "discount content content content" "discount price price price";
  }
  .swiper-picture-slide__discount {
    grid-area: discount;
  }
  .swiper-picture-slide__content {
    grid-area: content;
    flex-wrap: nowrap;
    padding: 20px 14px;
  }
  .swiper-picture-slide__picture {
    width: 90px;
    margin-right: 16px;
    object-fit: contain;
  }
  .swiper-picture-slide__description {
    font-size: 18px;
    line-height: 24px;
  }
  .swiper-picture-slide__price {
    grid-area: price;
    flex-direction: row;
    align-items: center;
    padding: 10px 17px;
  }
  .swiper-picture-slide__price-before {
    font-size: 16px;
    margin-right: 6px;
    margin-bottom: 0;
  }
  .swiper-picture-slide__price-after {
    font-size: 28px;
  }
  .swiper-picture-slide__price-after-xl {
    font-size: 28px;
  }
  .swiper-picture-slide__price-after-currency {
    font-size: 18px;
  }
  .swiper-picture-slide__price-after-currency-xl {
    font-size: 24px;
  }
  .swiper-thumbnail-slides {
    max-width: 161px;
  }
  .swiper-thumbnail-slides_wide {
    max-width: 225px;
  }
  .swiper-thumbnail-slide {
    width: 24px;
    height: 8px;
  }
  .swiper-thumbnail-slide__property {
    display: none;
  }
  .swiper-thumbnail-slide__property-text {
    display: none;
  }
  .swiper-button-prev, .swiper-button-next {
    bottom: -25px;
    top: auto;
  }

  .present__row-content-boxes {
    margin-bottom: 32px;
  }
  .present__block-title {
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 17px;
  }

  .cta__column-hero {
    min-height: 385px;
  }
  .cta__hero-wrapper {
    top: 0;
  }
  .cta__hero-rectangle {
    width: 243px;
    height: 243px;
  }
  .cta__hero-rectangle-inside {
    width: 208px;
    height: 208px;
  }
  .cta__hero-man {
    top: -93px;
    width: 100%;
    height: 377px;
    background-size: cover;
  }
  .cta__block {
    text-align: center;
    padding-top: 0;
  }
  .cta__btn-wrapper:before {
    top: -75%;
    right: -15%;
    transform: scale(0.5) rotate(-18deg);
  }
  .cta__btn-description br {
    display: none;
  }

  .portfolio {
    padding-top: 60px;
    padding-bottom: 49px;
  }
  .portfolio__wrapper {
    max-width: 100%;
  }
  .portfolio__row {
    margin-top: 25px;
  }
  .portfolio__slider-pagination {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .portfolio__slider-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 5px !important;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #EBECF0;
  }
  .portfolio__slider-button {
    bottom: 0;
  }
  .portfolio__slide-thumb-picture-container {
    width: 100vw;
    height: 202px;
  }
  .portfolio__slide-thumb-description {
    width: 100vw;
    min-height: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
