@include media-max($desktop) {
  .wrapper {
    max-width: 672px;
  }

  section {
    padding: 0;
  }

  // *****  section main  ***** //
  .upper-bar {
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;

    &__column {

      &:nth-child(2) {
        display: none;
      }
    }
  }

  .main .header {
    margin-bottom: 48px;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 160px 20px 50px;
    background: #2F6DCE;
    min-height: 300px;
    @include basic-transition(transform, 1s);

    &.hide-mobile-menu {
      transform: translateX(-100%);
    }

    &.show-mobile-menu {
      transform: translateX(0);
    }

    &__item {
      display: flex;
      justify-content: center;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__link {
      font-size: 16px;
      line-height: 100%;
      color: #F3F3F3;
    }

    .upper-bar {
      &__column {
        flex-direction: row-reverse;
        align-items: flex-start;
        padding-top: 15px;
        margin-bottom: 52px;
        border-top: 2px solid #E8F6FF;

        .whats-app-link {
          display: none;
        }
      }

      &__link {
        align-items: flex-start;
        font-size: 12px;
        line-height: 100%;
        color: #FFFFFF;
        margin-right: 0;

        &:last-child {
          margin-right: 27px;
        }

        &-icon {
          color: #FFFFFF;
          margin-right: 5px;
        }
      }
    }
  }

  .banner {
    flex-direction: column;
    text-align: center;

    &__column {
      width: 100%;

      &:nth-child(2) {
        background-image: none;
      }
    }

    &__description {
      font-size: 34px;
      line-height: 100%;
      margin-bottom: 12px;

      span {
        font-size: 20px;
        line-height: 24px;
        margin: 0 auto;
      }
    }

    &__text {
      font-size: 16px;
      line-height: 20px;
      margin: 0 auto 48px auto;
    }

    &__btn-wrapper {
      margin: 0 auto 32px auto;

      &:before {
        top: -70%;
        right: -10%;
        width: 70px;
        transform: scale(0.6) rotate(-30deg);
      }
    }

    &__addons-wrapper {
      padding-left: 0;
      align-items: center;
    }
  }

  .site-logo img {
    width: 165px;
  }

  .mobile-menu-toggle {
    display: flex;
    position: relative;
    z-index: 30;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 35px;
    height: 35px;
    background: #2F6DCE;
    border-radius: 5px;
    padding: 8px 5px 8px 6px;

    .burger-line {
      display: block;
      width: 24px;
      height: 3px;
      background: #FFFFFF;
      border-radius: 9px;
      @include basic-transition(transform, 1s);
    }

    .burger-line:nth-child(2) {
      width: 17px;
      border-radius: 12px;
      opacity: 1;
    }

    &-close {
      justify-content: center;
      align-items: center;

      .burger-line:nth-child(1) {
        transform: rotate(45deg) translate(1px, 2px);
      }

      .burger-line:nth-child(2) {
        display: none;
        opacity: 0;
      }

      .burger-line:nth-child(3) {
        transform: rotate(135deg) translate(0px, 1px);
      }
    }
  }
  .btn {
    font-size: 16px;

    &__move-up {
      width: 26px;
      height: 26px;

      &-icon {
        font-size: 14px;
      }
    }
  }
  // *****  section main  ***** //

  // ***** section winter sale  ***** //
  .advantages {
    &__row {
      flex-direction: column;
    }

    &__column {
      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }

    &__block {
      &-small {
        max-width: 100%;
      }
    }
  }
  .swiper {
    &-picture {
      &-slide {
        max-width: 562px;

        &__content {
          flex-wrap: wrap;
        }

        &__price {
          flex: 0 0 auto;
        }
      }
    }

    &-button-prev {
      left: 40px;
    }

    &-button-next {
      right: 40px;
    }
  }
  // ***** section winter sale  ***** //


  // ***** section windows regulation  ***** //
  .windows-regulation {
    .advantages__row {
      flex-direction: column-reverse;
    }
  }
  // ***** section windows regulation  ***** //

  // ***** section windows for winter  ***** //
  .windows-for-winter {
    .advantages__row {
      flex-direction: column-reverse;
    }
  }
  // ***** section windows for winter  ***** //

  // ***** section air box  ***** //
  .present {
    &__row {
      flex-direction: column;

      &-content-gallery {
        margin-bottom: 40px;
      }
    }

    &__boxes-wrapper {
      flex-direction: column;
    }

    &__box {
      &-container {
        max-width: 100%;

        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }

    &__additionally-blocks-wrapper {
      flex-direction: column;
    }

    &__additionally {
      &-block {
        &:not(:last-child) {
          padding-bottom: 0;
        }

        &-title {
          max-width: 100%;
        }

        &-list {
          max-width: 100%;
        }

        &-img {
          display: none;
        }

        &-content {
          max-width: 100%;
        }
      }
    }

    &__block {
      padding-top: 19px;

      &-picture {
        width: 100%;
        display: none;

        &-mobile-view {
          display: block;
        }
      }
    }
  }
  // ***** section air box  ***** //

  // ***** section cta  ***** //
  .cta {
    min-height: 768px;

    &:before {
      content: none;
    }

    &:after {
      content: none;
    }

    &__wrapper {
      padding-left: 0;

      &:before {
        content: none;
      }
    }

    &__row {
      flex-direction: column-reverse;
    }

    &__column {
      flex: 0 0 100%;

      &-hero {
        flex: 0 0 100%;
        display: flex;
        min-height: 490px;
      }
    }

    &__block {
      align-items: center;
    }

    &__hero {
      &-rectangle {
        &-outline {
          display: none;
        }
      }
    }

    &__btn {
      &-wrapper {
        &:before {
          top: -54%;
        }
      }
    }
  }
  // ***** section cta  ***** //

  // ***** section portfolio  ***** //
  .portfolio {
    &__wrapper {
      max-width: 100%;
    }

    &__slide {
      justify-content: center;

      &-thumb {
        &-picture {
          &-container {
            width: 368px;

          }
        }

        &-description {
          width: 368px;

        }
      }
    }
  }
  // ***** section portfolio  ***** //

  // ***** section about  ***** //
  .about {
    &__row {
      flex-direction: column;

      &-has-slider {
        flex-direction: column-reverse;
      }
    }

    &__content {
      &-wrapper {
        width: 100%;
      }
    }

    &__slide {

    }

    &__slider {

      &-container {
        margin-bottom: 40px;
      }

      &-button {
        top: 50%;
        bottom: auto;

        &-prev {
          left: -1px;
        }

        &-next {
          right: -1px;
        }
      }
    }

    &__block {
      max-width: 100%;

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &-link {
        max-width: 240px;
      }
    }
  }
  // ***** section about  ***** //


  // ***** section order  ***** //
  .order {

    &:before {
      content: none;
    }

    &:after {
      content: none;
    }

    &__wrapper {
      &:before {
        content: none;
      }
    }

    &__row {
      flex-direction: column-reverse;
    }

    &__column {
      &-hero {
        height: 400px;
      }
    }

    &__hero {
      left: 0;
      right: 0;
      margin: 0 auto;

      &-rectangle {

      }
    }

    &__title {
      text-align: center;
    }

    &__btn {
      display: block;
      margin: 0 auto;
    }
  }
  // ***** section order  ***** //

  // *****  footer  ***** //
  .footer {
    &__row {
      flex-wrap: wrap;
      justify-content: center;
    }


    &__content {
      max-width: 50%;

      &-developed-by {
        text-align: right;
      }

      &-not-public {
        max-width: 100%;
        order: -1;
        margin-bottom: 20px;
      }
    }
  }
  // *****  footer  ***** //

}


@include media-max($tablet) {

  .wrapper {
    max-width: 320px;
  }

  // *****  section main  ***** //
  .upper-bar {

    &__column {
      max-width: 282px;
    }
  }

  .menu {
    &__item {
      justify-content: flex-end;
      max-width: 282px;
      width: 100%;
    }
  }

  .banner {
    min-height: 100%;

    &__column {

      &:nth-child(2) {
        display: none;
      }

    }
  }
  // *****  section main  ***** //

  // ***** section winter sale  ***** //
  .advantages {
    &__title {
      padding: 8px 20px;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 22px;
    }

    &__block {

      &-list {
        margin-bottom: 16px;
      }

      &-picture {
        height: 180px;
      }
    }

    &__slider {
      &-title {
        width: 285px;
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
      }
    }
  }

  .swiper {
    &-picture {
      &-slides {
        overflow: visible;
      }

      &-slide {
        max-width: 310px;
        display: grid;
        grid-template-areas: "discount content content content" "discount content content content" "discount price price price";

        &__discount {
          grid-area: discount;
        }

        &__content {
          grid-area: content;
          flex-wrap: nowrap;
          padding: 20px 14px;
        }

        &__picture {
          width: 90px;
          margin-right: 16px;
          object-fit: contain;
        }

        &__description {
          font-size: 18px;
          line-height: 24px;
        }

        &__price {
          grid-area: price;
          flex-direction: row;
          align-items: center;
          padding: 10px 17px;

          &-before {
            font-size: 16px;
            margin-right: 6px;
            margin-bottom: 0;
          }

          &-after {
            font-size: 28px;

            &-xl {
              font-size: 28px;
            }

            &-currency {
              font-size: 18px;

              &-xl {
                font-size: 24px;
              }
            }
          }
        }
      }
    }

    &-thumbnail {
      &-slides {
        max-width: 161px;

        &_wide {
          max-width: 225px;
        }
      }

      &-slide {
        width: 24px;
        height: 8px;

        &__property {
          display: none;

          &-text {
            display: none;
          }
        }
      }
    }

    &-button-prev, &-button-next {
      bottom: -25px;
      top: auto;
    }
  }
  // ***** section winter sale  ***** //


  // ***** section air box  ***** //
  .present {

    &__row {
      &-content-boxes {
        margin-bottom: 32px;
      }
    }

    &__block {
      &-title {
        font-size: 18px;
        line-height: 100%;
        margin-bottom: 17px;
      }
    }
  }
  // ***** section air box  ***** //


  // ***** section cta  ***** //
  .cta {

    &__column {
      &-hero {
        min-height: 385px;
      }
    }

    &__hero {

      &-wrapper {
        top: 0;
      }

      &-rectangle {
        width: 243px;
        height: 243px;

        &-inside {
          width: 208px;
          height: 208px;
        }
      }

      &-man {
        top: -93px;
        width: 100%;
        height: 377px;
        background-size: cover;
      }
    }

    &__block {
      text-align: center;
      padding-top: 0;
    }

    &__btn {
      &-wrapper {
        &:before {
          top: -75%;
          right: -15%;
          transform: scale(0.5) rotate(-18deg);
        }
      }

      &-description {
        br {
          display: none;
        }
      }
    }
  }
  // ***** section cta  ***** //

  // ***** section portfolio  ***** //
  .portfolio {
    padding-top: 60px;
    padding-bottom: 49px;

    &__wrapper {
      max-width: 100%;
    }

    &__row {
      margin-top: 25px;
    }

    &__slider {
      &-pagination {
        margin-top: 0;
        margin-bottom: 10px;

        .swiper-pagination-bullet {
          width: 6px;
          height: 6px;
          margin: 0 5px !important;
          border-radius: 50%;
          background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #EBECF0;
        }
      }

      &-button {
        bottom: 0;
      }
    }

    &__slide {
      &-thumb {
        &-picture {
          &-container {
            width: 100vw;
            height: 202px;
          }
        }

        &-description {
          width: 100vw;
          min-height: 70px;
        }
      }
    }
  }
  // ***** section portfolio  ***** //

  // ***** section about  ***** //
  .about {
    padding: 60px 0;

    &__slide {

      &-picture {
        height: 180px;
      }
    }

    &__slider {

      &-button {
        display: none;
      }

      &-pagination {
        display: block;

        .swiper-pagination-bullet {
          background: #FFFFFF;
          opacity: 1;
        }

        .swiper-pagination-bullet.swiper-pagination-bullet-active {
          background: transparent;
          border: 1px solid #2F6DCE;
        }
      }
    }

    &__block {
      min-height: 100%;

      &-background-leaf {
        display: none;
      }

      &-link {
        margin: 0 auto;
      }

      &-mini {
        &-row {
          height: 60px;

          &-outlined {
            flex-direction: row;
            align-items: center;
          }
        }

        &-title {
          margin-bottom: 0;
          margin-right: 21px;
        }
      }
    }
  }
  // ***** section about  ***** //

  // ***** section order  ***** //
  .order {
    &__column {
      &-hero {
        height: 230px;
      }
    }

    &__hero {
      &-rectangle {
        width: 335px;
        height: 335px;
        top: 10%;
      }

      &-man {
        width: 218px;
        height: 280px;
        background-size: contain;
      }
    }
  }
  // ***** section order  ***** //

  // *****  footer  ***** //
  .footer {
    &__content {

    }
  }
  // *****  footer  ***** //

}