.wrapper {
  max-width: 1290px;
  width: 100%;
  @include center-block;
}

section {
  padding: 0 48px;
}

// *****  section main  ***** //
.main {
  padding-top: 30px;

  &__wrapper {
    max-width: 1358px;
  }

  .header {
    margin-bottom: 12px;

    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__menu {
      display: flex;
      align-items: center;
      margin-left: auto;

      li {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;

        &:not(:last-child) {
          margin-right: 32px;
          padding-right: 32px;
          border-right: 1px solid #999999;
        }

        a {
          color: #000000;
        }
      }
    }
  }
}

.mobile-menu-toggle {
  display: none;
}

.upper-bar {
  display: flex;
  margin-bottom: 38px;

  &__column {
    display: flex;
    align-items: center;

    &:nth-child(2) {
      margin-left: auto;
    }
  }

  &__home-link {
    h1 {
      font-size: 18px;
      font-weight: inherit;
      line-height: 24px;
      color: #2D2D2D;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #6F6F6F;

    &:not(:last-child) {
      margin-right: 47px;
    }

    &-icon {
      margin-right: 8px;
    }
  }

  &__tel-link {
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    color: #484848;
  }
}

.whats-app-link {
  padding: 14px 27px;
  border: 1px solid #25CF43;
  border-radius: 84px;
  color: #25CF43;
  @include custom-transition(color, background);

  &:hover {
    color: #FFFFFF;
    background: #25CF43;
    opacity: 1;
  }

  &__icon:before {
    color: inherit;
  }
}

.banner {
  display: flex;
  min-height: 720px;
  height: 100%;

  &__column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(2) {
      background-image: url("../img/window.png");
      background-repeat: no-repeat;
    }
  }

  &__description {
    font-family: "Uni Sans", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 84px;
    line-height: 100%;
    color: #2F6DCE;

    span {
      display: block;
      max-width: 575px;
      width: 100%;
      margin-top: 20px;
      font-size: 32px;
      line-height: 40px;
      color: #2D2D2D
    }
  }

  &__text {
    max-width: 455px;
    width: 100%;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #484848;
  }

  &__btn-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 360px;
    width: 100%;
    text-align: center;

    &:before {
      position: absolute;
      content: '';
      top: -66%;
      right: -106%;
      width: 100%;
      height: 100%;
      background-image: url("../img/line.png");
      background-repeat: no-repeat;
    }
  }

  &__btn {
    margin-bottom: 18px;
    color: #2F6DCE;
    border: 2px solid #2F6DCE;
    box-sizing: border-box;
    box-shadow: 0px 22px 44px -12px rgba(0, 90, 233, 0.35);
    border-radius: 39px;
  }

  &__btn-description {
    @include center-block;
    font-size: 16px;
    line-height: 100%;
    color: #484848;
  }

  &__addons-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }

  &__addon {
    position: relative;
    max-width: 450px;
    width: 100%;
    padding: 30px 25px 30px 52px;
    background: rgba(255, 255, 255, 0.67);
    box-shadow: 0 22px 44px rgba(0, 90, 233, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 6px;
    display: flex;
    align-items: center;
    color: #000000;
    @include custom-transition(background, color);

    &:before {
      position: absolute;
      content: '';
      left: -14.11px;
      width: 22.22px;
      height: 22.22px;
      background: #2F6DCE;
      border: 4px solid rgba(255, 255, 255, 0.76);
      box-shadow: 0px 1px 8px rgba(0, 90, 233, 0.33), inset 0px 0px 9px rgba(255, 255, 255, 0.76);
      border-radius: 5px;
      transform: rotate(-45deg);
      z-index: 10;
      @include custom-transition(background, border-radius);
    }

    &:hover {
      background: #2F6DCE;
      color: #FFFFFF;

      &:before {
        background: #FF3939;
        box-shadow: 0px 1px 8px rgba(207, 233, 0, 0.33), inset 0px 0px 9px rgba(255, 255, 255, 0.76);
      }
    }

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__addon-icon {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    font-size: 70px;
    width: 35px;
    overflow: hidden;
    color: #2F6DCE;
  }

  &__addon-content {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 100%;
    color: inherit;
  }
}

.btn {
  width: 100%;
  padding: 24px 43px;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 100%;
  @include basic-transition(box-shadow);

  &:hover {
    box-shadow: none;
  }
}

// *****  section main  ***** //


// ***** section winter sale  ***** //
.advantages {
  padding-top: 90px;
  padding-bottom: 90px;

  @include media-max($tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    position: relative;
    z-index: 30;
    max-width: 900px;
    width: 90%;
    padding: 8px 30px;
    background-color: #2F6DCE;
    border-radius: 6px;
    margin-bottom: 56px;

    font-family: "Uni Sans", sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 77px;
    }
  }

  &__block {
    max-width: 882px;
    width: 100%;

    &-title {
      font-weight: 900;
      font-size: 24px;
      line-height: 100%;
      color: #2D2D2D;
      margin-bottom: 18px;
    }

    &-list {

      &-item {
        font-size: 18px;
        line-height: 24px;
        color: #2D2D2D;
      }

      &-style-checkbox {
        li {
          &::marker {
            content: "\e900";
          }
        }
      }

      &-style-blue-disc {
        li {
          &::marker {
            content: "\e909";
          }
        }
      }

      &-style-points {
        list-style-type: disc;
        list-style-position: inside;
        margin-bottom: 34px;
      }
    }

    &-small {
      max-width: 330px;
      padding: 18px 28px;
      border-radius: 6px;

      ul {
        margin-left: 18px;

        li {
          padding-left: 6px;

          &::marker {
            font-family: 'icomoon';
            font-size: 12px;
            color: #2F6DCE;
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 18px;
      }

      &-title {
        text-align: center;
        margin-bottom: 20px;
      }

      .advantages__block-list-item {
        font-size: 16px;
      }
    }

    &-colored {
      background-color: #E8F6FF;
    }

    &-outline {
      outline: 6px solid #2F6DCE;
      outline-offset: -6px;
    }

    &-warning {
      display: flex;
      font-size: 14px;
      line-height: 20px;
      color: #E05C5C;
      margin-bottom: 39px;

      &-icon {
        padding-right: 6px;
        font-size: 18px;
      }
    }
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__btn {
    max-width: 282px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #005AE9;
    box-shadow: 0px 22px 44px -12px #005AE9;
    border-radius: 71px;
    color: #FFFFFF;
    margin-bottom: 18px;

    &-description {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: #F9F9F9;
    border-radius: 6px;

    &-title {
      font-family: "Uni Sans", sans-serif;
      font-weight: 900;
      font-size: 32px;
      line-height: 48px;
      color: #2F6DCE;
      margin-bottom: 33px;
    }

    &-container {
      width: 100%;

    }
  }
}

.swiper {

  &-slide {
    display: flex;
    justify-content: center;
  }

  &-picture {

    &-slides {
      max-width: 1042px;
      width: 100%;
    }

    &-slide {
      display: flex;
      max-width: 842px;
      width: 100%;
      min-height: 176px;
      margin-bottom: 28px;
      border-radius: 6px;
      box-shadow: 0px 13px 21px rgba(0, 0, 0, 0.25);
      overflow: hidden;

      font-family: "Uni Sans", sans-serif;
      font-weight: 900;
      color: #2D2D2D;
      font-size: 32px;

      &__discount {
        flex: 0 0 69px;
        background: #FF3939;
        writing-mode: vertical-lr;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(180deg);

        line-height: 48px;
      }

      &__content {
        width: 100%;
        padding: 11px 48px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        background: #FFFFFF;
      }

      &__picture {
        margin-right: 42px;
      }

      &__description {
        line-height: 40px;

        &-highlighted {
          color: #2F6DCE;;
        }
      }

      &__price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 171px;
        background: #2F6DCE;
        padding: 58px 19px;
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        text-align: center;
        line-height: 100%;

        &-before {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 8px;
        }

        &-after {
          font-size: 42px;

          &-xl {
            display: flex;
            font-size: 68px;
          }

          &-currency {
            font-size: 24px;

            &-xl {
              font-size: 48px;
            }
          }
        }
      }
    }
  }

  &-button-prev, &-button-next {
    bottom: 50%;
    top: auto;

    &:after {
      font-family: 'icomoon' !important;
      font-size: 24px;
      color: #2D2D2D;
    }
  }

  &-button-prev:after {
    content: "\e901";
  }

  &-button-next:after {
    content: "\e902";
  }

  &-thumbnail {

    &-slides {
      max-width: 384px;
      width: 100%;
      padding-bottom: 54px;
      padding-left: 20px;
      padding-right: 20px;

      &_wide {
        max-width: 568px;
      }

      .swiper-wrapper {
        justify-content: center;
      }
    }

    &-slide {
      width: 68px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid transparent;
      background: #FF3939;
      box-shadow: 0px 22px 44px -12px rgba(255, 57, 57, 0.69);
      border-radius: 6px;
      cursor: pointer;
      color: #FFFFFF;
      @include custom-transition(background, box-shadow);

      &__property {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;

        &-text {
          font-size: 10px;
        }
      }
    }
  }

  &-slide-thumb-active {
    .swiper-thumbnail-slide {
      border: 1px solid #2F6DCE;
      background: transparent;
      color: #2F6DCE;
      box-shadow: none;
    }
  }
}

.winter-sale {
  padding-top: 0;
}

// ***** section winter sale  ***** //


// ***** section windows regulation  ***** //
.trapeze {

  &:before {
    width: 28px;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: auto;
    right: auto;
    background-color: #2F6DCE;
    border-radius: 6px;
  }

  &_curved-right {
    text-align: left;
    margin-right: auto;

    &:before {
      right: -14px;
      transform: skewX(-10deg);

      @include media-max($tablet) {
        width: 26px;
        right: -7px;
      }
    }
  }

  &_curved-left {
    text-align: right;
    margin-left: auto;

    &:before {
      left: -14px;
      transform: skewX(10deg);

      @include media-max($tablet) {
        width: 26px;
        left: -7px;
      }
    }
  }

  &_transparent_background {
    background: transparent;
    color: #2F6DCE;
  }

  &_outlined {
    border: 2px solid #2F6DCE;
    border-left: none;
    border-radius: 0 6px 6px 0;

    &:before {
      top: -2px;
      border: 2px solid #2F6DCE;
      border-right: none;
      border-radius: 6px 0 0 6px;
      background: transparent;
    }
  }
}

.advantages_theme_colored {
  background-color: #E8F6FF;

  .advantages__block-colored {
    outline: 2px solid #FFFFFF;
    outline-offset: -2px;
  }
}

.windows-regulation {
  .advantages__row {
    flex-direction: row-reverse;
  }
}

// ***** section windows regulation  ***** //

// ***** section air box  ***** //
.air-box {
  position: relative;
  z-index: 20;

  .advantages__block {
    max-width: 100%;
  }
}

.present {
  &__row {
    display: flex;
    justify-content: space-between;

    &-content-gallery {
      margin-bottom: 81px;
    }

    &-content-boxes {
      margin-bottom: 56px;

      .present__column {
        width: 100%;
      }
    }

    &-content-additionally-info {
      .present__column {
        width: 100%;
      }
    }
  }

  &__block {
    max-width: 630px;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 15px;

    &-picture {
      width: 630px;
      max-height: 293px;
      border-radius: 6px;
      object-position: center;
      object-fit: cover;

      &-mobile-view {
        display: none;
      }
    }

    &-content {
      font-size: 22px;
      line-height: 28px;
      color: #2D2D2D;
      margin-bottom: 24px;

      &-highlighted {
        font-weight: 900;
      }
    }

    &-list {
      &-item {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 100%;
        color: #2D2D2D;

        &:not(:last-child) {
          margin-bottom: 22px;
        }

        &-icon {
          margin-right: 13px;
          font-size: 27px;

          &-shield {
            color: #2F6DCE;
          }
        }
      }
    }

    &-title {
      font-weight: 900;
      font-size: 24px;
      line-height: 100%;
      text-align: center;
      margin-bottom: 38px;
    }
  }

  &__boxes-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    min-height: 258px;
    height: 100%;
    clip-path: polygon(50% 8%, 56% 0, 100% 0, 100% 100%, 0 100%, 0 0, 44% 0);
    padding: 32px 21px 20px;
    background: #FFFFFF;
    border-radius: 6px;
    text-align: center;
    margin-top: -3px;


    &-container {
      max-width: 386px;
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-shadow {
      @include absolute-wide-block;
      top: 20px;
      width: 100%;
      height: calc(100% - 20px);
      border-radius: 6px;
      box-shadow: 0px 28px 32px rgba(21, 103, 233, 0.19);
      @include basic-transition(box-shadow);

      &:hover {
        box-shadow: 0px 8px 0 rgba(21, 103, 233, 0.19);
      }
    }

    &-crystal {
      width: 23px;
      height: 23px;
      background: #2F6DCE;
      box-shadow: 0px 1px 8px rgba(0, 90, 233, 0.33), inset 0px 0px 9px rgba(255, 255, 255, 0.76);
      border-radius: 5px;
      transform: rotate(-45deg);
    }

    &-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 22px;

      &-addition {
        display: block;
        font-size: 9px;
        line-height: 14px;
      }
    }

    &-content {
      font-size: 16px;
      line-height: 20px;
      color: #6F6F6F;
      margin-bottom: 16px;
    }

    &-price {
      font-size: 26px;
      line-height: 100%;
      color: #2F6DCE;
      font-weight: 700;

      &-description {
        font-size: 14px;
        color: #6F6F6F;
      }
    }
  }

  &__additionally {

    &-blocks-wrapper {
      display: flex;
      justify-content: space-between;
      border: 1px dashed #1567E9;
      border-radius: 6px;
    }

    &-block {
      padding: 23px 32px;

      &-title {
        max-width: 338px;
        width: 100%;
        margin-bottom: 10px;

        font-size: 18px;
        line-height: 24px;
        color: #2F6DCE;
      }

      &-list {
        max-width: 338px;
        width: 100%;

        font-size: 16px;
        line-height: 24px;
        color: #484848;
      }

      &-img {
        max-width: 311px;
        width: 100%;
        max-height: 170px;
        align-self: flex-end;
        padding-top: 30px;
        object-fit: cover;
        object-position: top;
      }

      &-content {
        max-width: 501px;
        width: 100%;

        font-style: italic;
        font-size: 14px;
        line-height: 18px;
        color: #484848;
      }
    }

  }
}

.highlighted {
  font-weight: 700;
}

// ***** section air box  ***** //

// ***** section cta  ***** //
.positioned-block {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cta {
  background: rgba(21, 103, 233, 0.24);

  &__wrapper {
    padding-left: 112px;
  }

  &__row {
    display: flex;
  }

  &__column {
    flex: 0 0 417px;

    &-hero {
      flex: 0 0 800px;
      display: flex;
    }
  }

  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__btn {
    max-width: 377px;

    &-wrapper {
      position: relative;

      &:before {
        position: absolute;
        top: -80%;
        right: -20%;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url("../img/vector_rounded_line.png");
        background-repeat: no-repeat;
        background-position: right;
      }
    }
  }

  &__title {
    font-family: "Uni Sans", sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D2D;
    margin-bottom: 15px;
  }

  &__content {
    font-size: 18px;
    line-height: 24px;
    color: #484848;
    margin-bottom: 57px;
  }

  &__hero {
    &-wrapper {
      width: 100%;
      position: relative;
      top: 10px;
    }

    &-rectangle {
      width: 440px;
      height: 440px;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 57px;
      transform: rotate(-45deg);

      &-outline {
        z-index: 10;
        width: 634px;
        height: 634px;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: inset 0px 0px 193px rgba(255, 255, 255, 0.19);
        border-radius: 57px;
        transform: rotate(-45deg);
      }

      &-inside {
        width: 380px;
        height: 380px;
        background: #2F6DCE;
        border-radius: 47px;
        transform: rotate(-45deg);
      }
    }

    &-man {
      width: 460px;
      height: 660px;
      z-index: 30;
      top: -76px;
      background-image: url("../img/man.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

// ***** section cta  ***** //

// ***** section portfolio  ***** //
.portfolio {
  padding-top: 96px;
  padding-bottom: 90px;

  &__row {
    margin-top: 94px;
  }

  &__slider {
    &-wrapper {
      flex-direction: row !important;
    }

    &-button {
      width: 38px;
      height: 38px;
      background: #1567E9;
      border-radius: 5px;
      bottom: 0;

      &:after {
        color: #FFFFFF;
      }

      &-prev {
        left: 449px;
      }

      &-next {
        right: 449px;
      }
    }

    &-pagination {
      position: static;
      margin-top: 64px;
      margin-bottom: 6px;

      .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        box-sizing: content-box;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #EBECF0;
        border-radius: 4px;
        margin: 0 10px !important;
      }

      .swiper-pagination-bullet.swiper-pagination-bullet-active {
        border: 1px solid #2F6DCE;
        background: transparent;
        border-radius: 4px;
      }
    }
  }

  &__slide {
    justify-content: flex-start;
    margin-bottom: 30px;

    &-thumb {
      display: flex;
      flex-direction: column;

      &-picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 6px 6px 0 0;


        &-container {
          position: relative;
          width: 410px;
          height: 260px;
          z-index: 30;
        }

        &-overlay {
          @include absolute-wide-block;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0, 38, 99, 0) 61.52%, rgba(21, 103, 233, 0.5) 100%);
        }
      }

      &-description {
        display: flex;
        background: #E8F6FF;
        border-radius: 0 0 6px 6px;
        padding: 22px 82px 38px 20px;
        max-width: 410px;
        width: 100%;
        min-height: 90px;

        font-size: 16px;
        line-height: 100%;
        color: #6F6F6F;
      }
    }
  }
}

// ***** section portfolio  ***** //


// ***** section about  ***** //
.about {
  padding-top: 86px;
  padding-bottom: 90px;
  background: #E8F6FF;

  &__title {
    margin-bottom: 29px;
  }

  &__row {
    display: flex;

    &-has-slider {
      margin-bottom: 40px;
    }
  }

  &__column {
    width: 100%;


    &-slider {
      display: flex;
    }
  }

  &__content {
    font-size: 18px;
    line-height: 24px;
    color: #2D2D2D;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &-wrapper {
      width: 630px;
    }
  }

  &__slider {
    &-container {
      width: 630px;
      padding-left: 16px;
      padding-right: 16px;
    }

    &-button {
      top: 50%;
      bottom: auto;

      &-prev {
        left: 0;
      }

      &-next {
        right: 0;
      }
    }
  }

  &__slide {
    &-picture {
      width: 630px;
      height: 276px;
      border-radius: 6px;
      object-fit: cover;
    }
  }

  &__block {
    max-width: 338px;
    width: 100%;
    min-height: 338px;
    height: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 36px;
    }

    &-title {
      font-size: 18px;
      line-height: 24px;
      color: #2F6DCE;
      margin-bottom: 13px;
    }

    &-list {
      font-size: 16px;
      line-height: 30px;
      color: #6F6F6F;

      &:not(:last-child) {
        margin-bottom: 19px;
      }

      &-item {
        &-title {
          font-weight: 700;
          color: #2D2D2D;
        }

        &-icon {
          color: #2F6DCE;
        }
      }
    }

    &-opened-corner {
      position: relative;
      padding: 30px;
      border: 1px solid #2F6DCE;

      &:before {
        position: absolute;
        top: -20px;
        left: -20px;
        content: '';
        width: 40px;
        height: 40px;
        background: #2F6DCE;
        border-radius: 5px;
        transform: rotate(-45deg);
        outline: 10px solid #E8F6FF;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        writing-mode: vertical-lr;
      }

      &:after {
        position: absolute;
        top: -7px;
        left: -7px;
        content: '\e904';
        font-family: 'icomoon' !important;
        color: #FFFFFF;

      }
    }

    &-picture {
      height: 136px;
      object-fit: cover;
      object-position: top;
    }

    &-background-leaf {
      background: #FFFFFF;
      padding: 50px 25px 0;
      justify-content: space-between;
      //align-items: center;

      .about__block-title {
        text-align: center;
        color: #2D2D2D;
        text-transform: uppercase;
      }
    }

    &-button {
      max-width: 192px;
      padding: 14px 50px;
      background: #2F6DCE;
      border-radius: 27px;
      font-size: 16px;
      line-height: 100%;
      color: #FFFFFF;
      margin: 0 auto;
    }
  }
}

// ***** section about  ***** //
